# /etc/systemd/system/piper-tele.service
[Unit]
Description=Piper Telegram Bot
After=network.target

[Service]
Type=simple
User=server
WorkingDirectory=/home/piper/tele-bot
Environment="PATH=/home/piper/.venv/bin"
ExecStart=/home/piper/.venv/bin/python main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target